// chart
.chart {
  background-color: $darker;
  padding: $spacer * 2.5 $spacer * 2.2;
  border-radius: $spacer * .25;
}

.chart-title {
  padding-bottom: $spacer * 2.5;
  font-weight: 700;
}

.chart-body {
  padding-top: $spacer * .5;
}

.chart-unit {
  color: #6B6783;
}

.chart-content {
  margin-top: $spacer * 1.375;
  max-height: 310px;
}
